@import 'tailwindcss';

@theme {
  --color-background: #d5d0c3;
  --color-foreground: #171717;
  --color-accent: #348a9d;
  
  --font-family-serif: var(--font-newsreader), serif;
  --font-family-sans: var(--font-outfit), sans-serif;
  --font-family-condensed: var(--font-roboto-condensed), sans-serif;
  
  --width-article: 36rem;
  --max-width-article: 36rem;
  --min-width-article: 36rem;
  
  --list-style-type-lower-alpha: lower-alpha;
}

@layer utilities {
  :root {
    --background: #d5d0c3;
    --foreground: #171717;
    --accent: #348a9d;

    --max-width-article: 36rem;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-roboto), sans-serif;
  }

  /* Webkit scrollbar styles */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--foreground);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--background);
    border: 2px solid var(--foreground);
    border-radius: 100px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--foreground);
  }

  /* Firefox scrollbar styles */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--background) var(--foreground);
  }

  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }

  body {
    background-color: var(--background);
  }

  ol > li::marker {
    font-weight: bold;
  }

  * {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
