@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d5d0c3;
  --foreground: #171717;
  --accent: #ff0000;
}

body {
  color: var(--foreground);
  background: var(--background);
  accent-color: var(--accent);
  font-family: "Roboto", sans-serif;
}

/* Webkit scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--foreground);
}

::-webkit-scrollbar-thumb {
  background: var(--background);
  border: 2px solid var(--foreground);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--foreground);
}

/* Firefox scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--background) var(--foreground);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
